.include-section {
   background: $blue;
   padding: 95px 0;
   color: #fff;
   @media (max-width: 991px) {
      padding: 40px 0;
   }

   h2 {
     text-align: center;
      font-size: 38px;
      line-height: 46px;
      font-weight: 700;
      margin-bottom: 47px;
   }
}

.include {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   align-items: center;

   @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 50px;
   }
   @media (max-width: 575px) {
      display: flex;
      flex-direction: column;

}


   span {
      font-weight: 700;
      font-size: 80px;
      line-height: 64px;

      @media (max-width: 991px) {
         font-weight: 400;
         font-size: 60px;
         line-height: 10px;

      }
      
   }
   p {
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
      margin-top: 33px;
      @media (max-width: 767px) {
         margin-top: 15px;
      }
   }
  
}
.include__card {
   text-align: center;
   
}
.card-four {
   @media (max-width: 767px) {
     grid-column: 1/3;
     grid-row: 2/4 ;
   }
}
.card-eight {
   @media (max-width: 767px) {
      grid-column:2/4;
      grid-row: 2/4 ;
    }
}