.opinion {
   padding: 96px 0;
   background: #194677;
   color:#fff;
}

.opinion__info {
   width: 640px;
   margin: auto;
   text-align: center;

   @media (max-width: 991px) {
      width: 100%;
   }
   p {
      font-style: italic;
      text-align: center;
      margin-bottom: 25px;
      line-height: 32px;
      font-size: 25px;
   
      span {
         color: $acsent;
      }
     }
     img {
      margin-bottom: 24px;
     }
}

.opinion__photo {
   img {
      margin-bottom: 8px;
   }

   span {
      font-size: 17px;
      display: block;
   }
}